/* * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
} */
.portfolio {
  background-color: black !important;
}
.port_img {
  width: 200px;
  outline-offset: 5px;
  border-radius: 50%;
  margin-top: 100px;
}

.content_div {
  background: rgb(217, 187, 211);
  background: radial-gradient(
    circle,
    rgba(217, 187, 211, 1) 0%,
    rgba(99, 4, 44, 1) 100%
  );
}

.img_div {
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}
.port_name {
  font-weight: bold;
  font-size: 50px;
  color: white;
}
.know_more {
  border: none;
  background-color: white;
  color: rgba(99, 4, 44, 1);
  padding: 10px 20px;
  outline-offset: 5px;
  border-radius: 20px;
}

.social_div {
  position: absolute;
  left: 36%;
  right: 36%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  max-width: 28%;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.social_icons {
  width: 40px;
  transition: 300ms;
}
.social_icons:hover {
  width: 60px;
  cursor: pointer;
}
.clock {
  font-weight: bold;
  font-size: 80px;
}
.left_col {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yasir {
  width: 400px;
  border-radius: 50%;
  margin: 10px;
  outline-offset: 10px;
}

.intro,
.intro_para {
  color: white;
}
.intro {
  font-weight: bold;
}
.contact_me {
  color: white;
  position: absolute;
  left: 45%;
  right: 45%;
  width: 10%;
  text-align: center;
  bottom: 80px;
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 20px;
  padding: 5px;
}
.right_col {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 700px; */
}

.mee {
  /* height: 70vh; */
  outline: 1px solid rgba(99, 4, 44, 1) 100;
  outline-offset: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 20px;
  color: white !important;
  overflow-y: scroll;
}

.details_col {
  background-image: linear-gradient(
    90deg,
    rgba(78, 160, 143, 0.26),
    rgba(4, 40, 64, 0.26)
  );
}
.details_icons {
  width: 150px;
  transition: 500ms;
  border-radius: 15px;
  text-align: center;
}
.details_icons:hover {
  border-radius: 30px;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 153, 153);
}

.project_image {
  width: 300px;
}
.project_title {
  font-weight: bold;
}
.project_link > a {
  background-color: white;
  color: rgba(99, 4, 44, 1);
  padding: 10px;
  border-radius: 20px;
}
.project_link > a:hover {
  color: rgb(78, 160, 144);
}
@media only screen and (min-width: 768px) {
  .content_div {
    background: rgb(217, 187, 211);
    background: radial-gradient(
      circle,
      rgba(217, 187, 211, 1) 0%,
      rgba(99, 4, 44, 1) 100%
    );
    height: 100vh;
  }
}
@media only screen and (max-width: 768px) {
  .intro_div {
    margin-top: -130px;
  }
  .yasir {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .contact_me,
  .social_div {
    display: none;
  }
  .port_img {
    width: 180px;
  }
  .mee {
    height: fit-content;
  }
  .intro_div {
    text-align: center;
  }
  .mee {
    margin-top: -70px;
  }
  .content_div {
    background: rgb(217, 187, 211);
    background: radial-gradient(
      circle,
      rgba(217, 187, 211, 1) 0%,
      rgba(99, 4, 44, 1) 100%
    );
  }
  .port_name {
    font-size: 20px;
  }
}
